.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  max-width: 250px;
  border-radius: 16px;
  overflow: hidden;
  background: #fff;

  cursor: pointer;
  transition: all 0.28s ease;

  box-shadow: 0 10px 24px rgba(0, 0, 0, 0.08);
}
/* brilho premium */
.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: -130%;
  width: 60%;
  height: 100%;

  background: linear-gradient(
    120deg,
    transparent,
    rgba(255, 255, 255, 0.45),
    transparent
  );

  transition: 0.7s;
  z-index: 2;
}

/* PC */
.card:hover::before {
  left: 150%;
}
/* GRID PRODUTOS */
.card-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 22px;
  padding: 20px;
  justify-items: center;
}
.image-container {
  position: relative;
  width: 100%;
  height: 260px;
  background: linear-gradient(to bottom, #f8f8f8, #ffffff);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 8px 8px 0 0;
  transition: transform 0.35s ease;
}
.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 18px 32px rgba(0, 0, 0, 0.14);
}
.card:hover .image-container img {
  transform: scale(1.05);
}
.card:hover img,
.card:active img {
  transform: scale(1.08);
}
.title-link {
  color: #000;
  cursor: pointer;
  text-align: center;
  margin: 0;
  text-decoration: none;
}

.title-link:hover {
  color: #25d366; /* verde WhatsApp */
  text-decoration: underline;
}

.whatsapp-text {
  margin: 4px 0;
  font-size: 14px;
  color: #25d366;
  font-weight: bold;
}
.card h2 {
  font-size: 17px;
  font-weight: 700;
  color: #222;
  text-align: center;
  margin: 10px 8px 4px;
  min-height: 25px;
  color: #222;
}
.preco {
  font-size: 22px;
  font-weight: 800;
  color: #16a34a;
  margin-bottom: 6px;
}
.preconumero {
  font-size: 22px;
  color: #0b080e;
  font-weight: bold;
  margin-bottom: 6px;
}

.card p {
  margin: 2px 0;
  font-size: 14px;

  text-align: center;
}
/* 🔥 BOTÃO WHATSAPP TOP */
.btn-whatsapp {
  margin: 14px auto 10px;
  width: 92%;
  padding: 14px;
  border-radius: 12px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 16px;
  background: linear-gradient(45deg, #25d366, #13b955);
  transition: all 0.25s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

/* efeito hover */
.btn-whatsapp:hover {
  transform: translateY(-2px);
  background: linear-gradient(45deg, #1ebe5d, #159c4a);
}

/* efeito clique */
.btn-whatsapp:active {
  transform: scale(0.96);
}
.info-extra {
  font-size: 12px;
  color: #777;
  text-align: center;
  margin-bottom: 4px;
}
/* BOTÕES ADMIN */
.btn-delete-overlay,
.btn-edit {
  position: absolute;
  width: 34px;
  height: 34px;
  border: none;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  opacity: 0;
  transform: scale(0.8);
  transition: 0.2s;
}
.btn-delete-overlay {
  top: 10px;
  right: 10px;
  background: rgba(220, 38, 38, 0.9);
}
.btn-edit {
  top: 10px;
  left: 10px;
  background: rgba(37, 99, 235, 0.9);
}
/* ícone sempre visível (quando aparece) */
.btn-delete-overlay .icon {
  font-size: 12px;
}
.btn-delete-overlay .text {
  max-width: 0;
  overflow: hidden;
  white-space: nowrap;
  transition: max-width 0.2s ease;
  font-size: 12px;
}

.image-container:hover .btn-delete-overlay,
.image-container:hover .btn-edit {
  opacity: 1;
  transform: scale(1);
}
/* 🔥 expande texto ao passar mouse */
.btn-delete-overlay:hover .text {
  max-width: 80px;
}

/* efeito hover no botão */
.btn-delete-overlay:hover {
  background: darkred;
  transition: all 0.2s ease;
}

/* TABLET */
@media (max-width: 1100px) {
  .card-grid {
    grid-template-columns: repeat(3, 1fr);
  }
  /* CELULAR toque */
  .card:active {
    transform: scale(0.97);
    box-shadow: 0 12px 22px rgba(0, 0, 0, 0.18);
    animation: pulseCard 0.25s ease;
  }
  @keyframes pulseCard {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.96);
    }
    100% {
      transform: scale(1);
    }
  }
  /* celular toque */
  .card:active img {
    transform: scale(1.08);
  }
}

@media (max-width: 480px) {
  .card-grid {
    grid-template-columns: 1fr;
  }
  /* CELULAR toque */
  .card:active {
    transform: scale(0.97);
    box-shadow: 0 12px 22px rgba(0, 0, 0, 0.18);
    animation: pulseCard 0.25s ease;
  }
  @keyframes pulseCard {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.96);
    }
    100% {
      transform: scale(1);
    }
  }
  /* celular toque */
  .card:active img {
    transform: scale(1.08);
  }
}
/* MOBILE */
@media (max-width: 768px) {
  .card-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 14px;
    padding: 12px;
  }

  .card {
    max-width: 100%;
    border-radius: 14px;
  }

  .image-container {
    height: 170px;
  }

  .card h2 {
    font-size: 15px;
    min-height: 42px;
  }

  .preco {
    font-size: 20px;
  }

  .btn-whatsapp {
    font-size: 14px;
    padding: 11px;
  }
  /* CELULAR toque */
  .card:active {
    transform: scale(0.97);
    box-shadow: 0 12px 22px rgba(0, 0, 0, 0.18);
    animation: pulseCard 0.25s ease;
  }
  @keyframes pulseCard {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.96);
    }
    100% {
      transform: scale(1);
    }
  }
  /* celular toque */
  .card:active img {
    transform: scale(1.08);
  }
}

/* CELULAR PEQUENO */
@media (max-width: 420px) {
  .image-container {
    height: 160px;
  }

  .card h2 {
    font-size: 14px;
  }

  .preco {
    font-size: 18px;
  }
  /* CELULAR toque */
  .card:active {
    transform: scale(0.97);
    box-shadow: 0 12px 22px rgba(0, 0, 0, 0.18);
    animation: pulseCard 0.25s ease;
  }
  /* celular toque */
  .card:active img {
    transform: scale(1.08);
  }
  @keyframes pulseCard {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.96);
    }
    100% {
      transform: scale(1);
    }
  }
}

/* 🔥 estilo padrão dos botões */

.btn-edit:hover {
  background: rgb(71, 6, 124);
  transition: all 0.2s ease;
}

/* hover */
.actions button:hover {
  transform: scale(1.1);
}
.preco-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
/* badge desconto */
.badge-off {
  background: linear-gradient(45deg, #ff0000, #ff5e00);
  color: white;
  padding: 4px 10px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: bold;
  animation: pulseBadge 1s infinite;
}
/* urgência */
.badge-urgente {
  background: #111;
  color: #ffd700;
  padding: 4px 10px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: bold;
  animation: piscar 1s infinite;
}

.preco-antigo {
  color: #e90606;
  font-size: 16px;
  font-weight: 900;
  text-decoration: line-through;
}
.oferta-hoje {
  font-size: 12px;
  color: #ff0000;
  font-weight: bold;
}
/* botão whatsapp */
.btn-whatsapp {
  animation: pulseBtn 1.2s infinite;
}

.preconumero {
  color: #0f0f0f;
  font-size: 22px;
  font-weight: 900;
}
/* animações */
@keyframes pulse {
  0% {transform: scale(1);}
  50% {transform: scale(1.08);}
  100% {transform: scale(1);}
}

@keyframes pulseBtn {
  0% {transform: scale(1);}
  50% {transform: scale(1.03);}
  100% {transform: scale(1);}
}

@keyframes piscar {
  0% {opacity: 1;}
  50% {opacity: .4;}
  100% {opacity: 1;}
}
